name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        java-version:
          - 8
          - 11
        gradle-version: [wrapper]
    name: 'Test, Java ${{ matrix.java-version }}'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 50
        submodules: true
    - name: 'Set up JDK ${{ matrix.java-version }}'
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}
    - name: 'Test'
      uses: burrunan/gradle-cache-action@v1.16
      with:
        job-id: jdk${{ matrix.java-version }}
        gradle-version: ${{ matrix.gradle-version }}
        arguments: |
          --no-parallel --no-daemon --scan
          build
